{% extends 'base.html.twig' %}

{% block title %}Nouvel article{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="mb-4">📝 Créer un nouvel article</h1>

            {{ form_start(formulaire) }}
                <div class="mb-3">
                    {{ form_row(formulaire.titre) }}
                </div>
                <div class="mb-3">
                    {{ form_row(formulaire.contenu) }}
                </div>
                <div class="mb-3">
                    {{ form_row(formulaire.auteur) }}
                </div>
                <div class="mb-3">
                    {{ form_row(formulaire.dateCreation) }}
                </div>
                <div class="mb-3">
                    {{ form_row(formulaire.publie) }}
                </div>
                {{ form_row(formulaire.enregistrer) }}
            {{ form_end(formulaire) }}

            <a href="{{ path('app_articles') }}" class="btn btn-link mt-3 text-muted">
                ← Retour à la liste
            </a>
        </div>
    </div>
{% endblock %}