{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="mb-4">➕ Créer une catégorie</h1>

            {{ form_start(formulaire) }}
                <div class="mb-3">{{ form_row(formulaire.nom) }}</div>
                <div class="mb-3">{{ form_row(formulaire.description) }}</div>
                {{ form_row(formulaire.enregistrer) }}
            {{ form_end(formulaire) }}

            <a href="{{ path('app_categories') }}" class="btn btn-link mt-3 text-muted">
                ← Retour aux catégories
            </a>
        </div>
    </div>
{% endblock %}